<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%-5p %d: [%10.20t] %40.40c{1.} - %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>

        <Logger name="com.st.nicobot" level="TRACE" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="com.ullink.slack.simpleslackapi" level="TRACE" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
